
p,h4 {
    margin: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
}

h1{
    text-align: center;
    text-decoration: underline;
}

img {
    display: block;
    margin: 0 auto;
}

.subtitle{
    text-decoration: underline;
    font-size: 25px;
    margin-left: 30px;
    margin-top: 40px;
}

.pharagraph{
    margin-top: 40px;
}

.recipe{
    margin-top: 10px;
    margin-left: 520px;
    font-weight: bold;
    font-size: 24px;
}

#lasagna{
    margin-top: 40px;
}